<li class="li_art row mb-4">
	<div class="col">
		<div class="form-row mb-1">
			<div class="col-10">
				<input id="datalist_art" type="text" name="exh_art" list="artworks" placeholder="Artwork Name" class="datalist_art form-control">
				<datalist id="artworks">
					{% for art in artworks %}
						<option data-value="{{ art.id }}" value="{{ art.name }}"></option>
					{% endfor %}
				</datalist>
			</div>
			<div class="col">
				<span class="align-middle px-1">@</span>
			</div>
		</div>
		<div class="form-row">
			<div class="col-10">
				<input id="datalist_park" type="text" name="exh_park" list="parks" placeholder="Artwork Park" class="form-control">
				<datalist id="parks">
					{% for park in parks %}
						<option data-value="{{ park.id }}" value="{{ park.name }}"></option>
					{% endfor %}
				</datalist>			
			</div>
		</div>
	</div>
</li>