<div class="site-nav__link [ dropdown-item ]">
  <a href="{{ url_for('home') }}"><span class="site-nav__link-text">Home</span></a>
</div>
<div class="site-nav__link [ dropdown-item ]">
  <a href="{{ url_for('exhibitions') }}"><span class="site-nav__link-text">Exhibitions</span></a>
</div>
<div class="site-nav__link [ dropdown-item ]">
  <a href="{{ url_for('parks') }}"><span class="site-nav__link-text">Parks</span></a>
</div>
<div class="site-nav__link [ dropdown-item ]">
  <a href="{{ url_for('artists') }}"><span class="site-nav__link-text">Artists</span></a>
</div>
<div class="site-nav__link [ dropdown-item ]">
  <a href="{{ url_for('artworks') }}"><span class="site-nav__link-text">Artworks</span></a>
</div>
<div class="site-nav__link [ dropdown-item ]">
  <a href="{{ url_for('orgs') }}"><span class="site-nav__link-text">Orgs</span></a>
</div>
<div class="site-nav__link [ dropdown-item ]">
  <a href="{{ url_for('create') }}"><span class="site-nav__link-text">Create</span></a>
</div>