/*
 *
 * Parks DB Background CSS
 *
 */

 /* Module(reusable pieces, nav, featured item, thumbnail divs, etc.) (can break up into smaller chunks) */


/* Background colors for sections */
section:nth-of-type(2n+1) .chunk {
  background-color: #F9F9F9;
}

section:nth-of-type(2n) .chunk {
  /* background-color: #e3f1d7; */
  /* background-color: #f7fbf3; */
  background-color: #F0F3F7;
}


.bg-green { background-color: #b8dd9b; }

.bg-d-green { background-color: #6EBC20; }



/*
 *
 * Media Queries
 *
 */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
}



/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}



/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}