/*
 *
 * Parks DB Layout CSS
 *
 */


/* - Featuring Base elements: Body, link, headings, resets, etc. */






/*
 *
 * Body
 *
 */

body {
  color: color(grey--d);
  max-width: 100%;
  font-size: 21px;
  font-family: 'Arimo', sans-serif;
  hyphens: auto;
}



/*
 *
 * Text
 *
 */

h1 {}

.head__h1 {
  font-size: 4rem;
  hyphens: initial;
}

h2 { color:  color(green--d); }

h3 {}

h4 {}

h5 {}

h6 {}

p {}



/*
 *
 * Links
 *
 */

a {
  color: color(grey--d);
  border-bottom: 2px solid;
  text-decoration: none;
  transition: .2s;

  &:hover {
    text-decoration: none;
    color: color(green--d);
  }
}


/* Interal links: Parks */
a[href^="/parks"] {
  border-bottom-color: color(green--d);

  &:hover {
    color: color(green--d);
  }
}


/* Interal links: Exhibitions */
a[href^="/exhibitions"] {
  border-bottom-color: color(purple--l);

  &:hover {
    color: color(purple--l);
  }
}


/* Interal links: Artworks */
a[href^="/artworks"] {
  border-bottom-color: color(blue--l);

  &:hover {
    color: color(blue--l);
  }
}


/* Interal links: Artists */
a[href^="/artists"] {
  border-bottom-color: color(pink--l);

  &:hover {
    color: color(pink--l);
  }
}


/* Interal links: Organizations */
a[href^="/orgs"] {
  border-bottom-color: color(orange--l);

  &:hover {
    color: color(orange--l);
  }
}

/*
 *
 * Lists
 *
 */

ul {}

ol {}

ul li {}

ol li {}



/*
 *
 * Resets
 *
 */




/*
 *
 * Bootstrap Overrides
 *
 */


.align-sub { vertical-align: sub; }


.f-grow { flex-grow: 1; }


/*
 *
 * Media Queries
 *
 */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}