/*
 *
 * Parks DB Layout CSS
 *
 */


/* - Featuring Base elements: Body, link, headings, resets, etc. */






/*
 *
 * Body
 *
 */

body {
  color: color(grey--d);
  max-width: 100%;
  font-size: 21px;
  font-family: 'Arimo', 'Hind', sans-serif;
  hyphens: auto;
}



/*
 *
 * Text
 *
 */

h1 {}

.head__h1 { font-size: 4rem; }
.head__h1--parks { color: darken(color(green--d), 22%); }
.head__h1--exhibitions { color: darken(color(purple--l), 25%); }
.head__h1--artworks { color: darken(color(blue--l), 25%); }
.head__h1--artists { color: darken(color(pink--l), 25%); }
.head__h1--orgs { color: darken(color(orange--l), 25%); }

h2 { color:  color(green--l); }

h3 {}

h4 {}

h5 {}

h6 {}

p {}



/*
 *
 * Links
 *
 */

a {
  color: color(grey--d);
  border-bottom: 2px solid;
  text-decoration: none;
  transition: .2s;
}

a:hover {
  text-decoration: none;
  color: color(green--d);
}

a:active {}


/* Interal links: Parks */
a[href^="/parks"] {
  border-bottom-color: color(green--d);
}

a[href^="/parks"]:hover {
  color: color(green--d);
}


/* Interal links: Exhibitions */
a[href^="/exhibitions"] {
  border-bottom-color: color(purple--l);
}

a[href^="/exhibitions"]:hover {
  color: color(purple--l);
}


/* Interal links: Artworks */
a[href^="/artworks"] {
  border-bottom-color: color(blue--l);
}

a[href^="/artworks"]:hover {
  color: color(blue--l);
}


/* Interal links: Artists */
a[href^="/artists"] {
  border-bottom-color: color(pink--l);
}

a[href^="/artists"]:hover {
  color: color(pink--l);
}


/* Interal links: Organizations */
a[href^="/orgs"] {
  border-bottom-color: color(orange--l);
}

a[href^="/orgs"]:hover {
  color: color(orange--l);
}

/*
 *
 * Lists
 *
 */

ul {}

ol {}

ul li {}

ol li {}



/*
 *
 * Resets
 *
 */




/*
 *
 * Bootstrap Overrides
 *
 */


.align-sub { vertical-align: sub; }


/*
 *
 * Media Queries
 *
 */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}