/*
 *
 * Parks DB State CSS
 *
 */

/* Properties that refer to the state of an object */



/* .is-active is left blank to maintain inherited display value
   Used when needing to toggle between .is-active and .is-inactive */
.is-active {}


.is-inactive { display: none !important; }


.is-invisible { visibility: hidden !important; }


.is-visible { visibility: visible !important; }


.is-spinning { animation: spinning 1750ms linear infinite; }

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
