/*
 *
 * Create CSS
 *
 */

 /*
  *
  * Global
  *
  */

ul {
	list-style-type: none;
	padding-left: 0;
}

.section__head {
	border-bottom: 6px solid #b8dd9b;
}

.section__head--modal {
	border-width: 3px;
}

.create_div {
	/* display: none; */
}

.form_submit {
	/* display: none; */
}

select#create_type {
	border:none;
	border-radius: 0px;
	border-bottom: 5px dashed grey;
	/* font-size:20px; */
	-webkit-appearance:none;
	padding:  0 1rem;
}

select#create_type option[value="exhibition"] { border-bottom: 5px dashed red; }
select#create_type option[value="park"] { border-bottom: 5px dashed green; }