/*
 *
 * Parks DB Layout CSS
 *
 */


/* - Featuring Main Layout elements: Header, Footer, Site Nav */



/*
 *
 * Header
 *
 */

.head { 
	padding: 1rem;
	background-color: #b8dd9b;
	min-height: 200px;
}



/*
 *
 * Footer
 *
 */

.foot {}


/*
 *
 * Site Nav
 *
 */

.site-nav {
	z-index: 1;
}

	.site-nav__butt {
		background-color: transparent;
	}

	.site-nav__menu {
		min-width: 0rem;
	}

		.site-nav__link a {
			color: #58595b;
			text-decoration: none;
			border-bottom: 2px
			solid #b8dd9b;
		}

		.site-nav__link:hover a {
			color:  #b8dd9b;
		}



/*
 *
 * Media Queries
 *
 */


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

	/* Set nav position to fixed on larger screens */
	.site-nav {
		position: fixed;
		width: 130px;
		top: 35px;
		left: 15px;
	}

}



/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}



/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}





