/*
 *
 * Parks DB Form CSS
 *
 */

 /* Module(reusable pieces, nav, featured item, thumbnail divs, etc.) (can break up into smaller chunks) */



/* textarea */

/* input */

input { color: #58595b }

.select--create {
  color: inherit;
  border:none;
  border-radius: 0;
  border-bottom: 5px dashed;
  -webkit-appearance: none;
  background-color: transparent;
  padding:  0 1rem;
}

.select--create option[value="exhibition"] { border-bottom: 5px dashed red; }
.select--create option[value="park"] { border-bottom: 5px dashed green; }

/* label */


/* Class applied to required form labels */
.required {
  font-weight: bold;
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}