/*
 *
 * Parks DB Button CSS
 *
 */


/*
COLORS
general		- grey
create 		- green
delete  	- red
edit			- yellow
add				- blue
*/



/* .butt: Base button styling */
.butt {
	cursor: pointer;
	border-width: 2.5px;
	border-style: solid;
	border-radius: 4px;
	border-color: #bcbdbd;
	background-color: #bcbdbd;
	color: #f8f9fa;
	font-size: 1.25rem;
	padding: .25rem 1rem;
	transition: .15s;
}

	.butt a {
		color: inherit;
		text-decoration: none;
	}

	.butt:hover {
		color: #f8f9fa;
		border-color: #58595b;
		background-color: #58595b;
	}

	.butt:active {
		border-color: #bcbdbd !important;
		background-color: #f8f9fa !important;
		color: #58595b !important;
	}


/* .butt--right: Rounded corners on right side only */
.butt--right {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}



/* .butt--create: Used for submit/create buttons */
.butt--create {
	background-color: #b8dd9b !important;
	border-color: #b8dd9b !important;
	color: #f8f9fa !important;
}

	.butt--create:hover {
		color: #f8f9fa !important;
		border-color: #88c659 !important;
		background-color: #88c659 !important;
	}

	.butt--create:active {
		border-color: #b8dd9b !important;
		background-color: #f8f9fa !important;
		color: #88c659 !important;
	}



/* .butt--delete: Used for delete/cancel buttons */
.butt--delete, .butt--delete a {
	background-color: #f1a69b !important;
	border-color: #f1a69b !important;
	color: #f8f9fa;
	vertical-align: inherit;
}

	.butt--delete:hover, .butt--delete a:hover {
		color: #f8f9fa !important;
		border-color: #e76a58 !important;
		background-color: #e76a58 !important;
	}

	.butt--delete:active {
		border-color: #f1a69b !important;
		background-color: #f8f9fa !important;
		color: #e76a58 !important;
	}



/* .butt--delete-icon: Used for X icon for delete/remove buttons */
.butt--delete-icon {
	color: #f1a69b !important;
	border: none;
	background-color: transparent;
	padding: 0;
}

	.butt--delete-icon:hover {
		color: #e76a58 !important;
		border: none;
		background-color: transparent;
	}

	.butt--delete-icon:active {
		border-color: #f1a69b !important;
		border: none;
		background-color: transparent;
	}



/* .butt--edit: Used for edit buttons */
.butt--edit {
	border-color: #ffe491 !important;
	background-color: #ffe491 !important;
	color: #f8f9fa !important;
}

	.butt--edit:hover {
		border-color: #ffd248 !important;
		background-color: #ffd248 !important;
		color: #f8f9fa !important;
	}

	.butt--edit:active {
		border-color: #ffe491 !important;
		background-color: #f8f9fa !important;
		color: #ffd248 !important;
	}



/* .butt--add: Used for add buttons */
.butt--add {
	border-color: #a1d3ff;
	background-color: #a1d3ff;
	color: #f8f9fa;
}

	.butt--add:hover {
		border-color: #62b5ff;
		background-color: #62b5ff;
		color: #f8f9fa;
	}

	.butt--add:active {
		border-color: #a1d3ff;
		background-color: #f8f9fa;
		color: #62b5ff;
	}



/* .butt--add-icon: Used for + icon for add buttons */
.butt--add-icon {
	color: #a1d3ff;
	border: none;
}

	.butt--add-icon:hover {
		color: #62b5ff;
		border: none;
	}

	.butt--add-icon:active {
		border-color: #a1d3ff;
		border: none;
	}



/*
 *
 * Media Queries
 *
 */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
}



/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}



/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
