/*
 *
 * Global
 *
 */

body {
	color: #58595b;
	max-width: 100%;
	font-size: 18px;
}

/*
 *
 * Text
 *
 */

h2 { color:  #b8dd9b; }

/*
 *
 * Links
 *
 */

div.links a { color: #58595b; text-decoration: none; border-bottom: 2px solid #b8dd9b; }
/* div.links a:hover { color:  #e76a58; } */
div.links a:hover { color:  #b8dd9b; }

h4 { display:  inline-block; }

/*
 *
 * Divs
 *
 */

.head { 
	padding: 1rem;
	background-color: #b8dd9b;
}

/*
 *
 * Nav Dropdown
 *
 */

.leaf .dropdown { z-index: 1; }
/* .leaf .dropdown-menu { background-color: #fff; } */
.leaf button { background-color: transparent; }
.bg-green { background-color: #b8dd9b; }

/*
 *
 * Buttons
 *
 */

.btn__parks {
	cursor: pointer;
	border-width: 1.5px;
	border-style: solid;
	border-color: #bcbdbd;
	border-radius: 4px;
	background-color: #fff;
	color: #58595b;
}
.btn__parks a {
	color: inherit;
	text-decoration: none;
}
.btn__parks:focus {
	outline:0;
}
.btn__parks:hover {
	border-color: #58595b;
}
.btn__parks:active {
	border-color: #bcbdbd;
	background-color: #58595b;
	color: #f4f4f4;
}

.btn__parks--edit {
	border-color: #ffe491;
	color: #ffd248;
}
.btn__parks--edit:hover {
	border-color: #ffd248;
}
.btn__parks--edit:active {
	border-color: #ffe491;
	background-color: #ffd248;
}

.btn__parks--no {
	border-color: #f1a69b;
	color: #e76a58;
}
.btn__parks--no:hover {
	border-color: #e76a58;
}
.btn__parks--no:active {
	border-color: #f1a69b;
	background-color: #e76a58;
}

.btn__parks--add {
	border-color: #a1d3ff;
	color: #62b5ff;
}
.btn__parks--add:hover {
	border-color: #62b5ff;
}
.btn__parks--add:active {
	border-color: #a1d3ff;
	background-color: #62b5ff;
}

/*
 *
 * Bootstrap Overrides
 *
 */

/*
 *
 * Bootstrap Overrides
 *
 */

.dropdown-menu { min-width: 0rem; }


/*
 *
 * Exhibition
 *
 */

span.artist {
	display: inline-block;
	vertical-align: top;
}
span.artwork {
	display: inline-block;
	vertical-align: top;
}
span.park {
	display: inline-block;
	vertical-align: top;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
	.leaf { position: fixed; }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }