{% from "_macros.html" import nav %}
{% extends "layout.html" %}

{% block title %}Parks Database – {% if artist.fName %}{{ artist.fName|capitalize }} {% endif %}{{ artist.pName|capitalize }}{% endblock %}
{% block content %}
{{ nav() }}
{% if artist %}
<div class="container-fluid">
	<section id="section--head">
		<div class="row justify-content-center head">
			<div class="col-sm-12 col-md-8">
				<h1 class="text-center display-3"><b>{% if artist.fName %}{{ artist.fName|upper }} {% endif %}{{ artist.pName|upper }}</b></h1>
			</div>
		</div>
	</section>
	<div class="row justify-content-center">
			<div class="col-sm-12 col-md-8 col-lg-6">
				<section id="section--bio">
				<h2 class="text-center display-4 p-4">Bio</h2>
				<ul>
					<li>ID: {{ artist.id }}</li>
					<li>Email: {{ artist.email }}</li>
					<li>Phone: {{ artist.phone }}</li>
					<li>Web site: <a href="http://{{ artist.website }}" target="_blank">{{ artist.website }}</a></li>
				</ul>
				</section>
			</div>
			<div class="col-sm-12 col-md-8 col-lg-6">
				<section id="section--artworks">
				<h2 class="text-center display-4 p-4">Artworks</h2>
				{% if artist.artworks %}
				<ul>
					{% for x in artist.artworks %}
					<li>ID: {{ x.id }}</li>
					<li><a href="{{ url_for('artwork', artwork_id=x.id) }}">{{ x.name }}</a></li>
					{% endfor %}
				</ul>
				{% else %}
				<p><i>There are no artworks connected with this artist.</i></p>
				{% endif %}
				</section>
			</div>
	</div>
</div>
{% endif %}

{% endblock %}