{% from "_macros.html" import nav %}
<html>
<head>
	<meta charset="utf-8">
	<title>NYC Parks Database</title>
	<script src="https://code.jquery.com/jquery-3.3.1.js"
	  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class='container'>
	<h1>NYC PARKS</h1>
	{{ nav() }}
	<div class='exhibitions'>
		<h2>Exhibitions</h2>
		{% for x in exhibitions %}
		{% if x %}
		<h3><a href="{{ url_for('exhibition', exhibition_id=x.id) }}">{{ x.name }}</a></h3>
		<ul>
			<li>ID: {{ x.id }}</li>
			<li>Exhibition Dates: {{ x.startDate }} to {{ x.endDate }}</li>
			<li>Install Date(s): {{ x.installStart }}{%if x.installEnd %} to {{ x.installEnd }}{% endif %}</li>
			<li>De-Install Due Date: {{ x.deinstallDate }}</li>
		</ul>
		{% endif %}
		{% endfor %}
	</div>
	<div class='parks'>
		<h2>Parks</h2>
		{% for p in parks %}
		{% if p %}
		<h3><a href="{{ url_for('park', park_id=p.id) }}">{{ p.name }}</a></h3>
		<ul>
			<li>ID: {{ p.id }}</li>
			<li>Park ID: {{ p.park_id }}</li>
			<li>Borough: {{ p.borough }}</li>
			<li>Address: {{ p.address }}</li>
			<li>Community Board: {{ p.cb }}</li>
		</ul>
		{% endif %}
		{% endfor %}
	</div>
</div>
</body>
</html>