{% from "_macros.html" import nav %}
<html>
<head>
	<meta charset="utf-8">
	<title>{{ park.name|capitalize }}</title>
	<script src="https://code.jquery.com/jquery-3.3.1.js"
	  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class='container'>
	{% if park %}
	<h1>{{ park.name|upper }}</h1>
	{{ nav() }}
	<div class='bio'>
		<h2>Bio</h2>
		<ul>
			<li>ID: {{ park.id }}</li>
			<li>Park ID: {{ park.park_id }}</li>
			<li>Address: {{ park.address }}</li>
			<li>Community Board: {{ park.cb }}</li>
		</ul>
	</div>
	{% if park.exhibitions %}
	<div class='exhibitions'>
		<h2>Exhibitions</h2>
		<ul>
			{% for x in park.exhibitions %}
			<li>ID: {{ x.id }}</li>
			<li><a href="{{ url_for('exhibition', exhibition_id=x.id) }}">{{ x.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
	{% else %}
	<p><i>This park has no related exhibitions.</i></p>
	{% endif %}

	{% if park_art %}
	<div class='artworks'>
		<h2>Artworks</h2>
		<ul>
			{% for x in park_art %}
			<li><a href="{{ url_for('artwork', artwork_id=x.artw.id) }}">{{ x.artw.name }}</a> (<a href="{{ url_for('exhibition', exhibition_id=x.exhib.id) }}">{{ x.exhib.name }}</a>)</li>
			{% endfor %}
		</ul>
	</div>
	{% else %}
	<p><i>This park has no related artworks.</i></p>
	{% endif %}

	{% endif %}
</div>
</body>
</html>