{% macro nav() %}
<div class="container-fluid leaf">
	<div class="row">
		<div class="col-md-2 dropdown">
			<div class="h-100 dropdown links pt-2">
				<button class="btn btn-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<img class="img-fluid" src="{{ url_for('static', filename='img/leaf.png') }}" />
				</button>
				<div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
					<li class="dropdown-item"><a href="{{ url_for('home') }}">Home</a></li>
					<li class="dropdown-item"><a href="{{ url_for('exhibitions') }}">Exhibitions</a></li>
					<li class="dropdown-item"><a href="{{ url_for('parks') }}">Parks</a></li>
					<li class="dropdown-item"><a href="{{ url_for('artists') }}">Artists</a></li>
					<li class="dropdown-item"><a href="{{ url_for('artworks') }}">Artworks</a></li>
					<li class="dropdown-item"><a href="{{ url_for('orgs') }}">Orgs</a></li>
					<li class="dropdown-item">Events</li>
					<li class="dropdown-item"><a href="{{ url_for('create') }}">Create</a></li>
				</div>
			</div>
		</div>
	</div>
</div>
{% endmacro %}


<!-- Datalist function for artwork/exhibition/park/org lists -->
{% macro datalist(data_id, collection) %}
<datalist id="{{ data_id }}">
	{% for item in collection %}
		<option data-value="{{ item.id }}" value="{{ item.name }}"></option>
	{% endfor %}
</datalist>
{% endmacro %}


<!-- Datalist function for artist lists -->
{% macro datalist_artist(data_id, collection) %}
<datalist id="{{ data_id }}">
	{% for item in collection %}
		<option data-value="{{ item.id }}" value="{{ item.full_name }}"></option>
	{% endfor %}
</datalist>
{% endmacro %}