{% macro nav() %}
<div class="leaf">
	<div class="w-100 dropdown">
		<div class="w-100 dropdown links">
			<button class="btn btn-block p-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<img class="img-fluid" src="{{ url_for('static', filename='img/leaf.png') }}" />
			</button>
			<div class="dropdown-menu w-100 leaf__links border-0" aria-labelledby="dropdownMenuButton">
				<ul class="p-0">
					<div class="dropdown-item"><a href="{{ url_for('home') }}">Home</a></div>
					<div class="dropdown-item"><a href="{{ url_for('exhibitions') }}">Exhibitions</a></div>
					<div class="dropdown-item"><a href="{{ url_for('parks') }}">Parks</a></div>
					<div class="dropdown-item"><a href="{{ url_for('artists') }}">Artists</a></div>
					<div class="dropdown-item"><a href="{{ url_for('artworks') }}">Artworks</a></div>
					<div class="dropdown-item"><a href="{{ url_for('orgs') }}">Orgs</a></div>
					<div class="dropdown-item">Events</div>
					<div class="dropdown-item"><a href="{{ url_for('create') }}">Create</a></div>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endmacro %}


<!-- Datalist function for artwork/exhibition/park/org lists -->
{% macro datalist(data_id, collection) %}
<datalist id="{{ data_id }}">
	{% for item in collection %}
		<option data-value="{{ item.id }}" value="{{ item.name }}"></option>
	{% endfor %}
</datalist>
{% endmacro %}


<!-- Datalist function for artist lists -->
{% macro datalist_artist(data_id, collection) %}
<datalist id="{{ data_id }}">
	{% for item in collection %}
		<option data-value="{{ item.id }}" value="{{ item.full_name }}"></option>
	{% endfor %}
</datalist>
{% endmacro %}