{% from "_macros.html" import nav %}
{% extends "layout.html" %}

{% block title %}Parks Database – {{ artist.full_name|capitalize }}{% endblock %}
{% block content %}
{{ nav() }}
{% if artist %}
<div class="container-fluid">
	<form action="/artists/{{ artist.id }}/edit" id="formArtist" method="post">
		<section id="section--head">
			<div class="row justify-content-center head">
				<div class="col-sm-12 col-md-8">
					<h1 class="text-center display-3"><b>{{ artist.full_name|upper }}</b></h1>
					<h1 class="">
					<input type="text" name="fName" value="{{ artist.fName }}" class="text-center form-control-plaintext display-3" readonly>
					<input type="text" name="pName" value="{{ artist.pName }}" class="text-center form-control-plaintext display-3" readonly>
					</h1>
				</div>
			</div>
		</section>
		<div class="row justify-content-center">
			<div class="col-sm-12 col-md-10 text-right p-4">
				<button class="btn__parks btn__parks--edit" id="form_edit">Edit</button>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-sm-12 col-md-8 col-lg-6">
				<section id="section--bio">
				<h2 class="text-center display-4 p-4">Bio</h2>
				<ul>
					<li>ID: {{ artist.id }}</li>
					<li class="row mb-3">
						<div class="col-md-4">
							<label for="email" style="padding-top:.375rem; padding-bottom:.375rem;">Email</label>
						</div>
						<div class="col-md-6">
							<input type="text" name="email" value="{{ artist.email }}" class="form-control-plaintext" readonly>
						</div>
					</li>
					<li class="row mb-3">
						<div class="col-md-4">
							<label for="phone" style="padding-top:.375rem; padding-bottom:.375rem;">Phone</label>
						</div>
						<div class="col-md-6">
							<input type="text" name="phone" value="{{ artist.phone }}" class="form-control-plaintext" readonly>
						</div>
					</li>
					<li class="row mb-3">
						<div class="col-md-4">
							<label for="website" style="padding-top:.375rem; padding-bottom:.375rem;">Website</label>
						</div>
						<div class="col-md-6">
							<a href="http://{{ artist.website }}"><input type="text" name="website" value="{{ artist.website }}" class="form-control-plaintext" readonly></a>
						</div>
					</li>
				</ul>
				</section>
			</div>
			<div class="col-sm-12 col-md-8 col-lg-6">
				<section id="section--artworks">
				<h2 class="text-center display-4 p-4">Artworks</h2>
				{% if artist.artworks %}
				<ul>
					{% for x in artist.artworks %}
					<li>ID: {{ x.id }}</li>
					<li><a href="{{ url_for('artwork', artwork_id=x.id) }}">{{ x.name }}</a></li>
					<li class="row mb-3">
						<div class="col-md-4">
							<label for="art_name" style="padding-top:.375rem; padding-bottom:.375rem;">Artwork</label>
						</div>
						<div class="col-md-6">
							<input id="datalist_art" type="text" name="artist_art" list="artworks" data-value="{{ x.id }}" value="{{ x.name }}" class="datalist_art form-control-plaintext" readonly>
							<datalist id="artworks">
								{% for art in artworks %}
									<option data-value="{{ art.id }}" value="{{ art.name }}"></option>
								{% endfor %}
							</datalist>
						</div>
					</li>
					{% endfor %}
				</ul>
				{% else %}
				<p><i>There are no artworks connected with this artist.</i></p>
				{% endif %}
				</section>
			</div>
		</div>
		<section id="section--submit">
			<div class="row justify-content-center" id="form_buttons" hidden>
				<div class="col-sm-12 col-md-10 text-right p-4">
					<button type="button" class="btn__parks btn__parks--no" id="form_cancel">Cancel</button>
					<button type="button" class="btn__parks btn__parks--add ml-2" value="Create" id="form_update">Update</button>
				</div>
			</div>
		</section>
		<button id="cancel" hidden>Cancel</button>
	</form>
</div>
<script>
	// Make form editable
	$("#form_edit").on('click', function(event) {
		event.preventDefault();

		// Disable a anchor links when in edit mode
		$("#formArtist").find("a").each(function(e) {
			$(this).attr("onclick", "return false");
		});

		// Make inputs editable
		$("#formArtist").find(":input").not(":button").each(function() {
			// Remove input readonly attributes
			$(this).attr("readonly", false);
			// Update input classes
			$(this).toggleClass('form-control-plaintext').toggleClass('form-control');;
		});

		// Display form buttons
		$("#formArtist").find("#form_buttons").each(function() {
			$(this).attr("hidden", false);
		});
	});

	// Cancel form editing
	$("#form_cancel").on('click', function(event) {
		event.preventDefault();

		window.location.reload(true);
	});

	// Submit form updates
	$("#form_update").on('click', function(event) {
		event.preventDefault();
		// Do the data-value / value switch
		valSwitch();
		// Post data to /artists/<int:artist_id>/edit url
		$("#formArtist").submit();
	});

	// Switch datalist values with data-values (pulled from create.js)
	function valSwitch(){
		try {
			$('#formArtist #datalist_art').each(function(index){
				tempVal = $(this).val();
				console.log("Temp val: " + tempVal)
				idVal = $('#formArtist option').filter(function() {
					return this.value == tempVal;
				}).data('value');
				console.log("ID val: " + idVal);
				$(this).val(idVal);
			});
		}
		catch (e) {
			console.log("Catch: " + e);
		}
	}


	// Remove current artwork from artist

	// Add new artwork li
</script>
{% endif %}

{% endblock %}