{% extends "layout.html" %}
{% block head_extras %}
{% endblock %}
{% block title %}NYC Parks Database – Artists{% endblock %}
{% block content %}


<div class="container-fluid">

	<section id="section--head">
		{% include "include/nav.html" %}
		<div class="head [ row justify-content-center align-items-center ]">
			<div class="[ col-md-8 ]">
				<h1 class="head__h1 head__h1--artists [ text-center display-3 ]"><b>ARTISTS</b></h1>
			</div>
		</div>
	</section>

	<section id="section--search">
		{% include "include/user.html" %}

		<div class="[ row justify-content-center py-5 ]">
			<div class="[ col-sm-8 col-md-6 ]">
				<form id="js-form_search" action="/search" method="POST">
					{{ form.csrf_token }}

					<div class="[ d-none ]">
						{{ form.class_object(class="form-control", value="Artist") }}
					</div>

					<div class="[ input-group ]">
						{{ form.search(class="form-control", placeholder="Search Artists") }}
					</div>

				</form>
			</div>
		</div>
	</section>

	<section id="section--artists">
		<div class="chunk [ row justify-content-center py-5 ]">
			<div class="[ col-md-8 ]">

				{% for artist in artists %}

					<h2 class="[ pt-3 ]"><a href="{{ url_for('artist', id=artist.id) }}">{{ artist.name }}</a></h2>
					<ul class="[ list-unstyled p-0 ]">
						<li>Artworks:
							<ul>

								{% for artwork in artist.artworks %}
									<li><a href="{{ url_for('artwork', id=artwork.id) }}">{{ artwork.name }}</a></li>
								{% else %}
									<li><i>{{ artist.name }} doesn't have any artworks yet.</i></li>
								{% endfor %}

							</ul>
						</li>
					</ul>

				{% else %}

				<p><i>There are no artists in the database yet.</i></p>

				{% endfor %}

			</div>
		</div>
	</section>

</div>

{% endblock %}