{% extends "layout.html" %}
{% block head_extras %}
{% endblock %}
{% block title %}NYC Parks Database – Artists{% endblock %}
{% block content %}


<div class="container-fluid">

	<section id="section--head">
		{% include "include/nav.html" %}
		<div class="head head--artists [ row justify-content-center align-items-center ]">
			<div class="[ col-md-8 ]">
				<h1 class="head__h1 head__h1--artists [ text-center display-3 ]"><b>ARTISTS</b></h1>
			</div>
		</div>
	</section>

	<section id="section--search">
		{% include "include/user.html" %}

		<div class="[ row justify-content-center py-5 ]">
			<div class="[ col-sm-8 col-md-6 ]">
				<form id="js-form_search" action="/search" method="POST">
					{{ form.csrf_token }}

					<div class="[ d-none ]">
						{{ form.class_object(class="form-control", value="Artist") }}
					</div>

					<div class="[ input-group ]">
						{{ form.search(class="form-control", placeholder="Search Artists") }}
					</div>

				</form>
			</div>
		</div>
	</section>

	<section id="section--artists">
		<div class="chunk [ row justify-content-center py-5 ]">

			<div class="[ col-md-8 order-1 ]">
				<h2 class="[ display-4 py-4 ]">Artists</h2>
			</div>

			<div class="[ col-md-8 order-3 ]">
				{% set artists_index = [] %}

				{%- for artist in artists -%}
					{% set item = artist.pName[0]|lower if artist.pName[0].isalpha() else '#' %}
					{% set artists_index = artists_index if item in artists_index else artists_index.append(item) %}
					<div class="js-index-item {{ 'js-index_' ~ artist.pName[0]|lower if artist.pName[0].isalpha() else 'js-index_#' }}">
						<h3 class="[ pt-3 ]">
							<a class="js-internal" href="{{ url_for('artist', id=artist.id) }}">{{ artist.name }}</a>
						</h3>
						<ul class="[ list-unstyled p-0 ]">
							<li>Artworks:
								<ul class="[ list-unstyled pl-4 ]">
	
									{% for artwork in artist.artworks %}
										<li><a href="{{ url_for('artwork', id=artwork.id) }}">{{ artwork.name }}</a></li>
									{% else %}
										<li><i>{{ artist.name }} doesn't have any artworks yet.</i></li>
									{% endfor %}
	
								</ul>
							</li>
						</ul>
					</div>

				{%- else -%}

				<p><i>There are no artists in the database yet.</i></p>

				{%- endfor -%}
			</div>

			<div class="[ col-md-8 order-2 text-center mb-5 ]">
				{% for item in artists_index %}
					<span id="js-index_{{ item }}" class="index index--artists js-index [ display-5 ]">{{ item|upper }}</span>
				{% endfor %}
			</div>

		</div>
	</section>

</div>

{% endblock %}