{% extends "layout.html" %}
{% from "_macros.html" import nav %}
{% block title %}NYC Parks Database – Artists{% endblock %}
{% block content %}

	{{ nav() }}
	<div class="container-fluid">
		<section id="section--head">
			<div class="row justify-content-center head">
				<div class="col-sm-12 col-md-8">	
					<h1 class="text-center display-3"><b>ARTISTS</b></h1>
				</div>
			</div>
		</section>
		<section id="section--artists">
			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-8">
					{% if artists %}
						{% for a in artists %}
							<h2 class="text-center display-4 p-4"><a href="{{ url_for('artist', artist_id=a.id) }}">{{ a.full_name }}</a></h2>
							<ul>
								<li>ID: {{ a.id }}</li>
								<li>Email: {{ a.email }}</li>
								<li>Phone: {{ a.phone }}</li>
								<li>Web site: <a href="http://{{ a.website }}" target="_blank">{{ a.website }}</a></li>
							</ul>
						{% endfor %}
					{% else %}
						<p><i>There are no artists in the database.</i></p>
					{% endif %}
				</div>
			</div>
		</section>
	</div>

{% endblock %}