{% from "_datalist.html" import datalist %}
{% extends "layout.html" %}
{% block head_extras %}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}
{% block title %}Parks Database – {{ artist.name|capitalize }}{% endblock %}
{% block content %}
{% if artist %}
<div class="container-fluid">

	<section id="section--head">
		{% include "include/nav.html" %}
		<div class="head [ row justify-content-center align-items-center ]">
			<div class="[ col-sm-12 col-md-8 ]">
				<h1 class="[ text-center display-3 ]"><b>{{ artist.name|upper }}</b></h1>
			</div>
		</div>
	</section>

	<form action="/artists/{{ artist.id }}/edit" id="formArtist" method="post">
		{{ form.csrf_token }}

		<div class="[ row justify-content-center ]">
			<div class="[ col-sm-12 col-md-10 text-right p-4 ]">
				<button type="button" class="butt butt--edit" id="form_edit">Edit</button>
				<a href="{{ url_for('artist_delete', artist_id=artist.id) }}" role="button" class="butt butt--delete [ btn btn-sm ]">Delete</a>
			</div>
		</div>

		{% if form.errors %}

			<div class="[ fixed-top ]">
				{% for field_name, field_errors in form.errors|dictsort if field_errors %}
					{% for error in field_errors %}
						<div class="[ alert alert-danger alert-dismissible fade show ]" role="alert">
						  <strong>Watch out!</strong> {{ form[field_name].label }}: {{ error }}
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						    <span aria-hidden="true">&times;</span>
						  </button>
						</div>
					{% endfor %}
				{% endfor %}
			</div>

		{% endif %}

		<section id="section--bio">
			<div class="[ row justify-content-center py-4 ]">
				<div class="[ col-sm-12 col-md-8 col-lg-6 ]">
					<h2 class="[ display-4 p-4 ]">Bio</h2>

					<ul>

						<li class="[ row mb-3 d-none align-items-baseline ]">
							<div class="[ col-md-4 ]">
								{{ form.fName.label }}
							</div>
							<div class="[ col-md-6 ]">
								{{ form.fName(class="form-control-plaintext", value=artist.fName) }}
							</div>
						</li>

						<li class="[ row mb-3 d-none align-items-baseline ]">
							<div class="[ col-md-4 ]">
								{{ form.pName.label }}
							</div>
							<div class="[ col-md-6 ]">
								{{ form.pName(class="form-control-plaintext", value=artist.pName) }}
							</div>
						</li>

						<li class="[ row mb-3 align-items-baseline ]">
							<div class="[ col-md-4 ]">
								{{ form.email.label }}
							</div>
							<div class="[ col-md-6 ]">
								{{ form.email(class="form-control-plaintext", value=artist.email, readonly=true) }}
							</div>
						</li>

						<li class="[ row mb-3 align-items-baseline ]">
							<div class="[ col-md-4 ]">
								{{ form.phone.label }}
							</div>
							<div class="[ col-md-6 ]">
								{{ form.phone(class="form-control-plaintext", value=artist.phone, readonly=true) }}
							</div>
						</li>

						<li class="[ row mb-3 align-items-baseline ]">
							<div class="[ col-md-4 ]">
								{{ form.website.label }}
							</div>
							<div class="[ col-md-6 ]">
								<a href="http://{{ artist.website }}" class="[ d-inline ]">{{ artist.website }}</a>
								{{ form.website(class="form-control-plaintext d-none", value=artist.website) }}
							</div>
						</li>
					</ul>

				</div>
			</div>
		</section>

		<section id="section--artworks">
			<div class="[ row justify-content-center py-4 ]">
				<div class="[ col-sm-12 col-md-8 col-lg-6 ]">
					<h2 class="[ display-4 p-4 ]">Artworks</h2>

					<div class="[ row justify-content-center ]">
						<div class="[ col-12 text-right p-4 ]">
							<button type="button" class="form_add butt butt--add [ d-none ml-2 ]" id="add_artist">Add</button>
						</div>
					</div>

					<ul class="ul_artworks">

					{% if artist.artworks %}

							{% for artwork in artist.artworks %}
								<li class="artist__li--artworks [ row mb-3 align-items-baseline ]">
									<div class="[ col-md-4 ]">
										<label for="art_name">Artwork</label>
									</div>
									<div class="[ col-md-6 ]">
										<a href="{{ url_for('artwork', artwork_id=artwork.id) }}" class="[ d-inline ]">{{ artwork.name }}</a>

										<input id="datalist_art" type="text" name="artworks-{{ loop.index0 }}" list="artworks" data-value="{{ artwork.id }}" value="{{ artwork.name }}" class="datalist_art [ form-control-plaintext d-none ]" readonly>
										<!-- Call datalist macro function -->
										{{ datalist("artworks", artworks) }}
									</div>
									<div class="[ col-md-2 ]">
										<button type="button" class="butt butt--delete-icon form_remove [ d-none ]"><i class="far fa-times-circle"></i></button>
									</div>
								</li>
							{% endfor %}

					{% else %}

						<p><i>There are no artworks connected with this artist.</i></p>

					{% endif %}

					</ul>

				</div>
			</div>
		</section>

		<!-- <section id="section--exhibitions">
			<div class="[ row justify-content-center py-4 ]">
				<div class="[ col-sm-12 col-md-8 col-lg-6 ]">
					<h2 class="[ text-center display-4 p-4 ]">Exhibitions</h2>

					{% if artist.artworks %}

						{% for artwork in artist.artworks %}

							<h3>{{ artwork.name }}</h3>
							<div class="[ row justify-content-center ]">
								<div class="[ col-12 text-right p-4 ]">
									<button type="button" class="form_add butt butt--add [ d-none ml-2 ]" id="add_exhibition">Add</button>
								</div>
							</div>

							{% if artwork.exhibitions %}

								<ul class="ul_exhibitions">

									{% for thing in artist_join %}

										{% if thing.Artwork.id == artwork.id %}

											<li class="artist__li--exhibitions [ row mb-3 align-items-center ]">

												<div class="[ col-md-1 ]" hidden>
													<label for="exh_name">Artwork</label>
												</div>

												<div class="[ col-md-1 ]" hidden>
													<input type="text" name="parks" value="{{ thing.Artwork.id }}" class="form-control-plaintext">
												</div>

												<div class="[ col-md-4 ]">
													<label for="exh_name">Exhibition</label>
												</div>

												<div class="[ col-md-6 ]">
													<a href="{{ url_for('exhibition', exhibition_id=thing.Exh_art_park.exhib.id) }}" class="d-inline">{{ thing.Exh_art_park.exhib.name }}</a>
													<input id="datalist_exhibition" type="text" name="exhibitions" list="exhibitions" data-value="{{ thing.Exh_art_park.exhib.id }}" value="{{ thing.Exh_art_park.exhib.name }}" class="datalist_exhibition [ form-control-plaintext d-none ]" readonly> -->
													<!-- Call datalist macro function -->
													<!-- {{ datalist("exhibitions", exhibitions) }}
												</div>

												<div class="col-md-2">
													<button type="button" class="butt butt--delete-icon form_remove [ d-none ]"><i class="far fa-times-circle"></i></button>
												</div>

												<div class="[ col-md-4 ]">
													<label for="exh_name">Park</label>
												</div>

												<div class="[ col-md-6 ]">
													<a href="{{ url_for('park', park_id=thing.Park.id) }}" class="d-inline">{{ thing.Park.name }}</a>
													<input id="datalist_park" type="text" name="parks" list="parks" data-value="{{ thing.Park.id }}" value="{{ thing.Park.name }}" class="datalist_park [ form-control-plaintext d-none ]" readonly> -->
													<!-- Call datalist macro function -->
													<!-- {{ datalist("parks", parks) }}
												</div>

											</li>

										{% endif %}

									{% endfor %}

								</ul>

							{% else %}

								<p class="pl-4"><i>{{ artwork.name }} hasn't been part of an exhibition yet.</i></p>

							{% endif %}

						{% endfor %}

						{% else %}

							<p><i>{{ artist.name }} hasn't been part of an exhibition yet.</i></p>

					{% endif %}
				</div>
			</div>
		</section> -->

		<section id="section--submit">
			<div class="[ row justify-content-center d-none ]" id="form_buttons">
				<div class="[ col-sm-12 col-md-10 text-right p-4 ]">
					<button type="button" class="butt butt--delete" id="form_cancel">Cancel</button>
					<button type="button" class="butt butt--add [ ml-2 ]" value="Create" id="form_update">Update</button>
				</div>
			</div>
		</section>

	</form>
</div>
<!-- Empty artwork template -->
<script id="template_artwork" type="text/template">
	<li class="artist__li--artworks [ row mb-3 align-items-baseline ]">
		<div class="[ col-md-4 ]">
			<label for="name">Artwork</label>
		</div>
		<div class="[ col-md-6 ]">
			<input id="datalist_art" type="text" name="artworks" list="artworks" data-value="" value="" placeholder="Artwork" class="datalist_art [ form-control ]">
			{{ datalist("artworks", artworks) }}
		</div>
		<div class="[ col-md-2 ]">
			<button type="button" class="butt butt--delete-icon form_remove"><i class="far fa-times-circle"></i></button>
		</div>
	</li>
</script>

<script id="template_exhibition" type="text/template">
	
</script>

<script src="{{ url_for('static', filename='js/artist.js') }}"></script>
{% endif %}

{% endblock %}