{% extends "layout.html" %}
{% block head_extras %}
<script src="{{ url_for('static', filename='js/dist/main.bundle.js') }}"></script>
{% endblock %}
{% block title %}NYC Parks Database – Artworks{% endblock %}
{% block content %}


<div class="container-fluid">

	<section id="section--head">
		{% include "include/nav.html" %}
		<div class="head [ row justify-content-center align-items-center ]">
			<div class="[ col-md-8 ]">
				<h1 class="[ text-center display-3 ]"><b>ARTWORKS</b></h1>
			</div>
		</div>
	</section>

	{% include "include/user.html" %}

	<section id="section--artworks">
		<div class="[ row justify-content-center py-5 ]">
			<div class="[ col-md-8 ]">

				{% for artwork in artworks %}

					<h2 class="[ pt-3 ]"><a href="{{ url_for('artwork', artwork_id=artwork.id) }}">{{ artwork.name }}</a></h2>
					<ul class="[ list-unstyled p-0 ]">
						<li>Artists:
							<ul>

								{% for artist in artwork.artists %}
									<li><a href="{{ url_for('artist', artist_id=artist.id) }}">{{ artist.name }}</a></li>
								{% else %}
								<li><i>{{ artwork.name }} doesn't have any artists yet.</i></li>
								{% endfor %}

							</ul>
						</li>
					</ul>

				{% else %}

				<p><i>There are no artworks in the database yet.</i></p>

				{% endfor %}

			</div>
		</div>
	</section>

</div>

{% endblock %}