{% extends "layout.html" %}
{% block head_extras %}
{% endblock %}
{% block title %}NYC Parks Database – Artworks{% endblock %}
{% block content %}


<div class="container-fluid">

	<section id="section--head">
		{% include "include/nav.html" %}
		<div class="head head--artworks [ row justify-content-center align-items-center ]">
			<div class="[ col-md-8 ]">
				<h1 class="head__h1 head__h1--artworks [ text-center display-3 ]"><b>ARTWORKS</b></h1>
			</div>
		</div>
	</section>



	<section id="section--search">
		{% include "include/user.html" %}

		<div class="[ row justify-content-center py-5 ]">
			<div class="[ col-sm-8 col-md-6 ]">
				<form id="js-form_search" action="/search" method="POST">
					{{ form.csrf_token }}

					<div class="[ d-none ]">
						{{ form.class_object(class="form-control", value="Artwork") }}
					</div>

					<div class="[ input-group ]">
						{{ form.search(class="form-control", placeholder="Search Artworks") }}
						<div class="[ input-group-append ]">
							<button class="js-search butt--right butt" type="submit" id="js-search_artworks">Search</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</section>



	<section id="section--active">
		<div class="chunk [ row justify-content-center py-5 ]">
			<div class="[ col-md-8 ]">

				<h2 class="[ display-4 py-4 ]">Active Artworks</h2>

				{% set artworks_list = [] %}

					{% for line in active_artworks %}

						{% if line.Artwork.id not in artworks_list %}
							<h3 class="[ py-1 ]"><a href="{{ url_for('artwork', id=line.Artwork.id) }}">{{ line.Artwork.name }}</a>
								(<a href="{{ url_for('exhibition', id=line.Exhibition.id) }}">{{ line.Exhibition.name }}</a>)</h3>
							{% set artworks_list = artworks_list.append(line.Artwork.id) %}
						{% endif %}

					{% else %}
						<p><i>There are no active artworks.</i></p>
					{% endfor %}

			</div>
		</div>
	</section>



	<section id="section--upcoming">
		<div class="chunk [ row justify-content-center py-5 ]">
			<div class="[ col-md-8 ]">

				<h2 class="[ display-4 py-4 ]">Upcoming Artworks</h2>

				{% set artworks_list = [] %}

					{% for line in upcoming_artworks %}

						{% if line.Artwork.id not in artworks_list %}
							<h3 class="[ py-1 ]"><a href="{{ url_for('artwork', id=line.Artwork.id) }}">{{ line.Artwork.name }}</a>
								(<a href="{{ url_for('exhibition', id=line.Exhibition.id) }}">{{ line.Exhibition.name }}</a>)</h3>
							{% set artworks_list = artworks_list.append(line.Artwork.id) %}
						{% endif %}

					{% else %}
						<p><i>There are no upcoming artworks.</i></p>
					{% endfor %}

			</div>
		</div>
	</section>



	<section id="section--recent">
		<div class="chunk [ row justify-content-center py-5 ]">
			<div class="[ col-md-8 ]">

				<h2 class="[ display-4 py-4 ]">Recent Artworks</h2>

				{% set artworks_list = [] %}

					{% for line in recent_artworks %}

						{% if line.Artwork.id not in artworks_list %}
							<h3 class="[ py-1 ]"><a href="{{ url_for('artwork', id=line.Artwork.id) }}">{{ line.Artwork.name }}</a>
								(<a href="{{ url_for('exhibition', id=line.Exhibition.id) }}">{{ line.Exhibition.name }}</a>)</h3>
							{% set artworks_list = artworks_list.append(line.Artwork.id) %}
						{% endif %}

					{% else %}
						<p><i>There are no recent artworks.</i></p>
					{% endfor %}

			</div>
		</div>
	</section>



	<section id="section--artworks">
		<div class="[ row justify-content-center py-5 ]">
			<div class="[ col-md-8 ]">

				<h2 class="[ display-4 py-4 ]">Artworks</h2>

				{% for artwork in artworks %}

					<h2 class="[ pt-3 ]"><a href="{{ url_for('artwork', id=artwork.id) }}">{{ artwork.name }}</a></h2>
					<ul class="[ list-unstyled p-0 ]">
						<li>Artists:
							<ul class="[ list-unstyled pl-4 ]">

								{% for artist in artwork.artists %}
									<li><a href="{{ url_for('artist', id=artist.id) }}">{{ artist.name }}</a></li>
								{% else %}
								<li><i>{{ artwork.name }} doesn't have any artists yet.</i></li>
								{% endfor %}

							</ul>
						</li>
					</ul>

				{% else %}

				<p><i>There are no artworks in the database yet.</i></p>

				{% endfor %}

			</div>
		</div>
	</section>

</div>

{% endblock %}