{% extends "layout.html" %}
{% block head_extras %}<link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">{% endblock %}
{% block title %}NYC Parks Database – Create{% endblock %}
{% block content %}

<div class="container-fluid pb-5">
	{% include "include/nav.html" %}
	<form id="form_create" action="{{ url_for('create') }}" method="post">
		<section id="section--head">
			<div class="head [ row justify-content-center align-items-center ]">
				<div class="col-sm-12 col-md-8">
					<h1 class="display-3 text-center">
						<label for="create_item">New</label>&#x2009;
						<select id="create_type" class="display-4" name="create_item">
							<option value="" disabled selected></option>
							<option value="exhibition">Exhibition</option>
							<option value="artwork">Artwork</option>
							<option value="artist">Artist</option>
							<option value="park">Park</option>
							<option value="event">Event</option>
							<option value="organization">Organization</option>
							<option value="organizer">Organizer</option>
							<option value="employee">Employee</option>
						</select>
					</h1>
				</div>
			</div>
		</section>
		<section id="section--create--exhibition">
			<h2 class="text-center">Exhibition</h2>
			<div class="row">
				<div class="col-sm-12 col-md-6 pb-4 offset-md-1">
					<h3 class="section__head display-4 p-1">Exhibition Bio</h3>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-10 py-4">
					<ul>
						<li class="row mb-3">
							<div class="col-md-6 text-md-right">
								<label for="exh_name">Name</label>
							</div>
							<div class="col-md-6">
								<input type="text" name="exh_name" placeholder="Exhibition Name" class="form-control">
							</div>
						</li>
						<li class="row mb-3">
							<div class="col-md-6 text-md-right">
								<label for="exh_startDate">Exhibition Start</label>
							</div>
							<div class="col-md-6">
								<input type="date" name="exh_startDate" class="form-control">
							</div>
						</li>
						<li class="row mb-3">
							<div class="col-md-6 text-md-right">
								<label for="exh_endDate">Exhibition End</label>
							</div>
							<div class="col-md-6">
								<input type="date" name="exh_endDate" class="form-control">
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-6 pb-4 offset-1">
					<h3 class="section__head display-4 p-1">Organizations</h3>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-10 py-4">
					<div class="row">
						<div class="col-md-6 text-md-right">
							<p>Related Organizations</p>
						</div>
						<div class="col-md-6">
							<button type="button" id="createModal_org" class="org_create btn__parks mb-3" data-toggle="modal" data-target="#modal_org">Create</button>
							<button id="add_org" type="button" class="btn__parks btn__parks--edit org_add">+</button>
							<ul class="ul_org">
								{% include "include/org_list.html" ignore missing with context %}
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6 pb-4 offset-1">
					<h3 class="section__head display-4 p-1">Artworks</h3>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-12 py-4">
					<div class="row">
						<div class="col-md-6 text-md-right">
							<p>Exhibition Artworks</p>
						</div>
						<div class="col-md-6">
							<button type="button" id="createModal_art" class="art_create btn__parks mb-3" data-toggle="modal" data-target="#modal_art">Create</button>
							<button id="add_art" type="button" class="btn__parks btn__parks--edit art_add">+</button>
							<ul class="ul_art">
								{% include "include/art_list.html" ignore missing with context %}
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6 pb-4 offset-1">
					<h3 class="section__head display-4 p-1">Install Details</h3>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-12 py-4">
					<ul>
						<li class="row mb-3">
							<div class="col-md-6 text-md-right">
								<label for="exh_installStart">Install Date(s)</label>
							</div>
							<div class="col-md-6">
								<div class="form-row mb-1">
									<div class="col-10">
										<input type="date" name="exh_installStart" class="form-control">
									</div>
									<div class="col">
										<span class="align-middle px-1">to</span>
									</div>
								</div>
								<div class="form-row">
									<div class="col-10">
										<input type="date" name="exh_installEnd" class="form-control">
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-6 pb-4 offset-1">
					<h3 class="section__head display-4 p-1">De-Install Details</h3>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-10 py-4">
					<ul>
						<li class="row mb-3">
							<div class="col-md-6 text-md-right">
								<label for="exh_deinstallDate">De-Install Due Date</label>
							</div>
							<div class="col-md-6">
								<input type="date" name="exh_deinstallDate" class="form-control">
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section id="section--create--art">
			<h2 class="text-center">Artwork</h2>
			<div class="row">
				<div class="col-sm-12 col-md-6 pb-4 offset-md-1">
					<h3 class="section__head display-4 p-1">Artwork Bio</h3>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-10 py-4">
					<ul>
						<li class="row mb-3">
							<div class="col-md-6 text-md-right">
								<label for="art_name">Name</label>
							</div>
							<div class="col-md-6">
								<input type="text" name="art_name" placeholder="Artwork Name" class="form-control">
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-6 pb-4 offset-1">
					<h3 class="section__head display-4 p-1">Artists</h3>
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-10 py-4">
					<div class="row">
						<div class="col-md-6 text-md-right">
							<p>Related Artists</p>
						</div>
						<div class="col-md-6">
							<button type="button" id="createModal_artist" class="artist_create btn__parks mb-3" data-toggle="modal" data-target="#modal_artist">Create</button>
							<button id="add_artist" type="button" class="artist_add btn__parks btn__parks--edit mb-3">+</button>
							<ul class="ul_artist">
								{% include "include/artist_list.html" ignore missing with context %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="section--create--artist">
			<h2 class="text-center">Artist</h2>
			<div class="row">
				<div class="col-6 pb-4 offset-1">
					<h3 class="section__head display-4 p-1">Artist Bio</h3>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-10">
					<ul>
						<li class="row mb-3">
							<div class="col-md-4 text-md-right">
								<label for="artist_pName" style="height: 100%; vertical-align: text-top;">Name</label>
							</div>
							<div class="col-md-6">
								<input type="text" name="artist_pName" placeholder="Primary/Last Name" class="form-control mb-1">
								<input type="text" name="artist_fName" placeholder="First Name" class="form-control">
							</div>
						</li>
						<li class="row mb-3">
							<div class="col-md-4 text-md-right">
								<label for="artist_email" style="height: 100%; vertical-align: text-top;">Email</label>
							</div>
							<div class="col-md-6">
								<input type="text" name="artist_email" placeholder="you@pizza.com" class="form-control">
							</div>
						</li>
						<li class="row mb-3">
							<div class="col-md-4 text-md-right">
								<label for="artist_phone">Phone</label>
							</div>
							<div class="col-md-6">
								<input type="text" name="artist_phone" placeholder="###-###-####" class="form-control">
							</div>
						</li>
						<li class="row mb-3">
							<div class="col-md-4 text-md-right">
								<label for="artist_website">Website</label>
							</div>
							<div class="col-md-6">
								<input type="text" name="artist_website" placeholder="www.pizza.org" class="form-control">
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section id="section--create--park" class="py-5">
			<h2 class="text-center">Park</h2>
			<div class="row">
				<div class="col-6 pb-4 offset-1">
					<h3 class="section__head display-4 p-1">Park Bio</h3>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-10 py-4">
					<ul>
						<li class="row mb-3">
							<div class="col-md-6 text-md-right">
								<label for="park_name" style="height: 100%; vertical-align: text-top;">Name</label>
							</div>
							<div class="col-md-6">
								<input type="text" name="park_name" placeholder="Park Name" class="form-control">
							</div>
						</li>
						<li class="row mb-3">
							<div class="col-md-6 text-md-right">
								<label for="park_park_id" style="height: 100%; vertical-align: text-top;">Park ID</label>
							</div>
							<div class="col-md-6">
								<input type="text" name="park_park_id" placeholder="ID ###" class="form-control">
							</div>
						</li>
						<li class="row mb-3">
							<div class="col-md-6 text-md-right">
								<label for="park_borough" style="height: 100%; vertical-align: text-top;">Borough</label>
							</div>
							<div class="col-md-6">
								<select name="park_borough" class="form-control">
									<option value="" selected disabled>Select a Borough</option>
									<option value="Manhattan">Manhattan</option>
									<option value="Brooklyn">Brooklyn</option>
									<option value="Queens">Queens</option>
									<option value="Bronx">Bronx</option>
									<option value="Staten Island">Staten Island</option>
								</select>
							</div>
						</li>
						<li class="row mb-3">
							<div class="col-md-6 text-md-right">
								<label for="park_address" style="height: 100%; vertical-align: text-top;">Address</label>
							</div>
							<div class="col-md-6">
								<input type="text" name="park_address" placeholder="Park Address" class="form-control">
							</div>
						</li>
						<li class="row mb-3">
							<div class="col-md-6 text-md-right">
								<label for="park_cb" style="height: 100%; vertical-align: text-top;">Community Board</label>
							</div>
							<div class="col-md-6">
								<input type="text" name="park_cb" placeholder="##" class="form-control">
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section id="section--create--org">
			<h2 class="text-center">Organization</h2>
			<div class="row">
				<div class="col-6 pb-4 offset-1">
					<h3 class="section__head display-4 p-1">Organization Bio</h3>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-10 py-4">
					<ul>
						<li class="row mb-3">
							<div class="col-md-6 text-md-right">
								<label for="org_name" style="height: 100%; vertical-align: text-top;">Name</label>
							</div>
							<div class="col-md-6">
								<input type="text" name="org_name" placeholder="Organization Name" class="form-control">
							</div>
						</li>
						<li class="row mb-3">
							<div class="col-md-6 text-md-right">
								<label for="org_website" style="height: 100%; vertical-align: text-top;">Website</label>
							</div>
							<div class="col-md-6">
								<input type="text" name="org_website" placeholder="www.pizza.org" class="form-control">
							</div>
						</li>
						<li class="row mb-3">
							<div class="col-md-6 text-md-right">
								<label for="org_phone" style="height: 100%; vertical-align: text-top;">Phone</label>
							</div>
							<div class="col-md-6">
								<input type="text" name="org_phone" placeholder="###-###-####" class="form-control">
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section id="section--submit">
			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-10 text-right">
					<button type="button" class="btn__parks btn__parks--no"><a href="{{ url_for('home') }}">Cancel</a></button>
					<!-- <button type="button" class="btn__parks btn__parks--add">Create</button> -->
					<!-- <input type="submit" class="btn__parks btn__parks--add ml-2" value="Create" id="post_create"> -->
					<button type="button" class="btn__parks btn__parks--add ml-2" value="Create" id="post_create">Create</button>
				</div>
			</div>
		</section>
	</form>
</div>

<!-- Create artwork modal -->
<div id="modal_art" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-green">
        <h5 class="modal-title" id="">CREATE AN ARTWORK</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn__parks btn__parks--no post_cancel" data-dismiss="modal">Cancel</button>
        <button type="button" id="post_art" class="btn__parks btn__parks--add post_data">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- Create artist modal -->
<div id="modal_artist" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-green">
        <h5 class="modal-title" id="">CREATE AN ARTIST</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn__parks btn__parks--no post_cancel" data-dismiss="modal">Cancel</button>
        <button type="button" id="post_artist" class="btn__parks btn__parks--add post_data">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- Create org modal -->
<div id="modal_org" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-green">
        <h5 class="modal-title" id="">CREATE AN ORGANIZATION</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn__parks btn__parks--no post_cancel" data-dismiss="modal">Cancel</button>
        <button type="button" id="post_org" class="btn__parks btn__parks--add post_data">Add</button>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/create.js') }}"></script>

{% endblock %}