{% extends "layout.html" %}
{% block head_extras %}
<script src="{{ url_for('static', filename='js/dist/main.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='js/dist/import.bundle.js') }}"></script>
{% endblock %}
{% block title %}Parks Database – Import Data{% endblock %}
{% block content %}

<div class="container-fluid">

	<section class="section--head">
		{% include "include/nav.html" %}

		<div class="head [ row justify-content-center align-items-center ]">
			<div class="[ col-md-8 ]">
				<h1 id="testIT" class="[ text-center display-3 ]"><b>IMPORT DATA</b></h1>
			</div>
		</div>
	</section>

	<div class="js-alert [ fixed-top ]"></div>

	<form id="js-form_import" action="{{ url_for('import_file') }}" enctype="multipart/form-data" method="POST">
		{{ form.hidden_tag() }}

		<section id="section--import-file">

			<div class="[ row justify-content-center ]">
				<div class="[ col-md-8 text-center ]">
					<h4 class="[ py-4 ]">Choose a File to Import</h4>

					<ul class="js-ul_import [ p-0 ]">

						<li class="[ row mb-3 justify-content-center align-items-baseline ]">
							<div class="[ col-md-8 ]">
								{{ form.file(class="form-control") }}
							</div>
						</li>

					</ul>

				</div>
			</div>

		</section>

		<section id="section--submit">
			<div class="[ row justify-content-center ]">
				<div class="[ col-md-8 py-4 text-right ]">
					<a id="js-cancel_file" class="butt butt--delete js-cancel-import [ btn btn-sm ]" role="button" href="{{ session['url'] }}">Cancel</a>
					<button id="js-post_file" class="butt butt--add js-post-import [ ml-2 ]">Import File</button>
				</div>
			</div>
		</section>

	</form>

	<section id="section--import-data">

		<div class="[ row justify-content-center d-none ]">
			<div class="[ col-md-8 text-center ]">
				<h4 class="[ py-4 ]">Map Data!</h4>

				<ul class="[ p-0 ]">

					<li class="[ row mb-3 justify-content-center align-items-baseline ]">
						<div class="[ col-md-3 ]">
							{{ form_data.class_object.label(class="form-control") }}
						</div>
						<div class="[ col-md-6 ]">
							{{ form_data.class_object(class="form-control") }}
						</div>
					</li>

				</ul>

				<ul class="js-ul_keys [ p-0 ]">

				</ul>

			</div>
		</div>

	</section>


</div>

<!-- Empty error template -->
<script id="js-template_error" type="text/template">
	<div class="[ alert alert-danger alert-dismissible fade show mb-0 ]" role="alert">
		<div class="js-error-body">
			<strong>Error!</strong> <span class="js-error-notice"></span>
		</div>
		<button type="button" class="[ close ]" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</script>


<script id="js-template_keys" type="text/template">
	{{ form_data.keys(class="form-control ") }}
</script>

<script id="js-template_arrow" type="text/template">
	<div class="[ col-md-2 ]">
		<i class="fas fa-arrow-right"></i>
	</div>
</script>

<script id="js-template_artist" type="text/template">
		{{ form_data.artists(class="form-control ") }}
</script>

<script id="js-template_artwork" type="text/template">
		{{ form_data.artworks(class="form-control ") }}
</script>

<script id="js-template_park" type="text/template">
		{{ form_data.parks(class="form-control ") }}
</script>

<script id="js-template_exhibition" type="text/template">
		{{ form_data.exhibitions(class="form-control ") }}
</script>

<script id="js-template_org" type="text/template">
		{{ form_data.orgs(class="form-control ") }}
</script>

{% endblock %}