{% extends "layout.html" %}
{% block head_extras %}
{% endblock %}
{% block title %}NYC Parks Database{% endblock %}
{% block content %}

<div class="container-fluid">

	<section class="section--head">
		{% include "include/nav.html" %}

		<div class="head [ row justify-content-center align-items-center ]">
			<div class="[ col-md-8 ]">
				<h1 class="[ text-center display-3 ]"><b>NYC PARKS</b></h1>
			</div>
		</div>
	</section>

	{% include "include/user.html" %}

	<section class="section--today">
		<div class="chunk [ row justify-content-center py-5 ]">
			<div class="[ col-md-8 ]">

				<h2 class="[ display-4 py-4 ]">Today</h2>

				{% for item in today_items %}

					<h3 class="[ pt-3 ]"><a href="{{ url_for('exhibition', id=item.id) }}">{{ item.name }}</a></h3>
					<ul class="[ list-unstyled p-0 ]">
						{% if item.start_date|string() == today|string() %}
							<li>Exhibition Start Date: {{ item.start_date|date_format }}</li>
						{% endif %}
						{% if item.end_date|string() == today|string() %}
							<li>Exhibition End Date: {{ item.end_date|date_format }}</li>
						{% endif %}
						{% if item.opening|string() == today|string() %}
							<li>Opening Date: {{ item.opening|date_format }}</li>
						{% endif %}
						{% if item.install_start|string() == today|string() %}
							<li>Install Start: {{ item.install_start|date_format }}</li>
						{% endif %}
						{% if item.install_end|string() == today|string() %}
							<li>Install Finish: {{ item.install_end|date_format }}</li>
						{% endif %}
						{% if item.deinstall_date|string() == today|string() %}
						<li>De-Install Due Date: {{ item.deinstall_date|date_format }}</li>
						{% endif %}
					</ul>

				{% else %}

					<p><i>There are no events happening today.</i></p>

				{% endfor %}

			</div>
		</div>
	</section>



	<section class="section--active">
		<div class="chunk [ row justify-content-center py-5 ]">
			<div class="[ col-md-8 ]">

				<h2 class="[ display-4 py-4 ]">Active Exhibitions</h2>

				{% for exhibition in active_exhibitions %}

					<h3 class="[ pt-3 ]"><a href="{{ url_for('exhibition', id=exhibition.id) }}">{{ exhibition.name }}</a></h3>
					<ul class="[ list-unstyled p-0 ]">
						<li>Exhibition Dates: {{ exhibition.start_date|date_format }}–{{ exhibition.end_date|date_format }}</li>
					</ul>

				{% else %}

					<p><i>There are no active exhibitions right now.</i></p>

				{% endfor %}

			</div>
		</div>
	</section>



	<section class="section--upcoming">
		<div class="chunk [ row justify-content-center py-5 ]">
			<div class="[ col-md-8 ]">

				<h2 class="[ display-4 py-4 ]">Upcoming Exhibitions</h2>

				{% for exhibition in upcoming_exhibitions %}

					<h3 class="[ pt-3 ]"><a href="{{ url_for('exhibition', id=exhibition.id) }}">{{ exhibition.name }}</a></h3>
					<ul class="[ list-unstyled p-0 ]">
						<li>Exhibition Dates: {{ exhibition.start_date|date_format }}–{{ exhibition.end_date|date_format }}</li>
					</ul>

				{% else %}

					<p><i>There are no upcoming exhibitions.</i></p>

				{% endfor %}

			</div>
		</div>
	</section>



	<section class="section--recent">
		<div class="chunk [ row justify-content-center py-5 ]">
			<div class="[ col-md-8 ]">

				<h2 class="[ display-4 py-4 ]">Recent Exhibitions</h2>

				{% for exhibition in recent_exhibitions %}

					<h3 class="[ pt-3 ]"><a href="{{ url_for('exhibition', id=exhibition.id) }}">{{ exhibition.name }}</a></h3>
					<ul class="[ list-unstyled p-0 ]">
						<li>Exhibition Dates: {{ exhibition.start_date|date_format }}–{{ exhibition.end_date|date_format }}</li>
					</ul>

				{% else %}

					<p><i>There are no recent exhibitions at this time.</i></p>

				{% endfor %}

			</div>
		</div>
	</section>

</div>

{% endblock %}