{% extends "layout.html" %}
{% block head_extras %}
{% endblock %}
{% block title %}NYC Parks Database{% endblock %}
{% block content %}

<div class="container-fluid">

	<section class="section--head">
		{% include "include/nav.html" %}

		<div class="head [ row justify-content-center align-items-center ]">
			<div class="[ col-md-8 ]">
				<h1 class="[ text-center display-3 ]"><b>NYC PARKS</b></h1>
			</div>
		</div>
	</section>

	{% include "include/user.html" %}

	<section class="section--active">
		<div class="chunk [ row justify-content-center py-5 ]">
			<div class="[ col-md-8 ]">

				<h2 class="[ display-4 py-4 ]">Active Exhibitions</h2>

				{% for exhibition in active_exhibitions %}

					<h3 class="[ pt-3 ]"><a href="{{ url_for('exhibition', id=exhibition.id) }}">{{ exhibition.name }}</a></h3>
					<ul class="[ list-unstyled p-0 ]">
						<li>Start date: {{ exhibition.start_date }}</li>
						<li>End date: {{ exhibition.end_date }}</li>
					</ul>

				{% else %}

					<p><i>There are no active exhibitions right now.</i></p>

				{% endfor %}

			</div>
		</div>
	</section>



	<section class="section--upcoming">
		<div class="chunk [ row justify-content-center py-5 ]">
			<div class="[ col-md-8 ]">

				<h2 class="[ display-4 py-4 ]">Upcoming Exhibitions</h2>

				{% for exhibition in upcoming_exhibitions %}

					<h3 class="[ pt-3 ]"><a href="{{ url_for('exhibition', id=exhibition.id) }}">{{ exhibition.name }}</a></h3>
					<ul class="[ list-unstyled p-0 ]">
						<li>Start date: {{ exhibition.start_date }}</li>
						<li>End date: {{ exhibition.end_date }}</li>
					</ul>

				{% else %}

					<p><i>There are no upcoming exhibitions.</i></p>

				{% endfor %}

			</div>
		</div>
	</section>



	<section class="section--recent">
		<div class="chunk [ row justify-content-center py-5 ]">
			<div class="[ col-md-8 ]">

				<h2 class="[ display-4 py-4 ]">Recent Exhibitions</h2>

				{% for exhibition in recent_exhibitions %}

					<h3 class="[ pt-3 ]"><a href="{{ url_for('exhibition', id=exhibition.id) }}">{{ exhibition.name }}</a></h3>
					<ul class="[ list-unstyled p-0 ]">
						<li>Start date: {{ exhibition.start_date }}</li>
						<li>End date: {{ exhibition.end_date }}</li>
					</ul>

				{% else %}

					<p><i>There are no recent exhibitions at this time.</i></p>

				{% endfor %}

			</div>
		</div>
	</section>



	<section id="section--exhibitions">
		<div class="chunk [ row justify-content-center py-5 ]">

			<div class="[ col-md-8 ]">
				<h2 class="[ display-4 py-4 ]">Exhibitions</h2>
			</div>

			<div class="[ col-md-8 ]">

				{% for exhibition in exhibitions %}
					<h3><a href="{{ url_for('exhibition', id=exhibition.id) }}">{{ exhibition.name }}</a></h3>
					<ul class="[ p-0 ]">
						<li>Exhibition Dates: {{ exhibition.start_date|date_format }} to {{ exhibition.end_date|date_format }}</li>
						<li>Install Date(s): {{ exhibition.install_start|date_format }}{%if exhibition.install_end %} to {{ exhibition.install_end|date_format }}{% endif %}</li>
						<li>De-Install Due Date: {{ exhibition.deinstall_date|date_format }}</li>
					</ul>
				{% else %}
					<p><i>There are no exhibitions in the database yet.</i></p>
				{% endfor %}

			</div>

		</div>
	</section>

</div>

{% endblock %}