{% from "_datalist.html" import datalist %}
{% extends "layout.html" %}
{% block head_extras %}
{% endblock %}
{% block title %}NYC Parks Database – {{ org.name|capitalize }}{% endblock %}
{% block content %}

<div class="container-fluid">

	<section id="section--head">
		{% include "include/nav.html" %}
		<div class="head [ row justify-content-center align-items-center ]">
			<div class="[ col-md-8 ]">
				<h1 class="head__h1 head__h1--orgs [ text-center display-4 ]"><b>{{ org.name|upper }}</b></h1>
			</div>
		</div>
	</section>

	{% include "include/user.html" %}

	<div class="js-alert [ fixed-top ]"></div>


	<form id="js-form_org" action="/orgs/{{ org.id }}/edit" method="POST">
		{{ form.csrf_token }}

		{% if current_user.is_authenticated %}
			<div class="[ row justify-content-center ]">
				<div class="[ col-md-8 text-right py-5 ]">
					<button id="js-edit_org" class="js-form-edit butt butt--edit" type="button">Edit</button>
					<a href="{{ url_for('org_delete', id=org.id) }}" class="butt butt--delete [ btn btn-sm ]" role="button">Delete</a>
				</div>
			</div>
		{% endif %}



		<section id="section--bio">
			<div class="chunk [ row justify-content-center py-5 ]">
				<div class="[ col-md-8 ]">
					<h2 class="[ display-4 py-4 ]">Bio</h2>

					<ul class="js-ul_org [ p-0 ]">

						<li class="[ row mb-3 d-none align-items-baseline ]">
							<div class="[ col-md-3 ]">
								{{ form.name.label }}
							</div>
							<div class="[ col-md-6 ]">
								{{ form.name(class="form-control-plaintext", value=org.name) }}
							</div>
						</li>

						<li class="[ row mb-3 align-items-baseline ]">
							<div class="[ col-md-3 ]">
								{{ form.website.label }}
							</div>
							<div class="[ col-md-6 ]">
								<a href="http://{{ org.website }}" class="is-active" target="_blank">{{ org.website }}</a>
								{{ form.website(class="form-control-plaintext d-none", value=org.website) }}
							</div>
						</li>

						<li class="[ row mb-3 align-items-baseline ]">
							<div class="[ col-md-3 ]">
								{{ form.phone.label }}
							</div>
							<div class="[ col-md-6 ]">
								{{ form.phone(class="form-control-plaintext", value=org.phone, readonly=true) }}
							</div>
						</li>

					</ul>

				</div>
			</div>
		</section>



		<section id="section--exhibitions">
			<div class="chunk [ row justify-content-center py-5 ]">
				<div class="[ col-md-8 ]">
					<h2 class="[ display-4 py-4 ]">Exhibitions</h2>

					<div class="[ row justify-content-center ]">
						<div class="[ col-12 text-right py-4 ]">
							<button id="js-add_exhibition" class="js-add-li butt butt--add [ d-none ml-2 ]" type="button">Add</button>
						</div>
					</div>

					<ul class="js-ul-child js-ul_exhibitions [ list-unstyled p-0 ]">

						{% for exhibition in org.exhibitions %}

							<li class="org__li--artworks [ row mb-3 align-items-baseline ]">

								<div class="[ col-md-3 ]">
									<label for="art_name">Exhibition</label>
								</div>


								<div class="[ col-10 col-md-6 ]">
									<a href="{{ url_for('exhibition', id=exhibition.id) }}" class="is-active">{{ exhibition.name }}</a>

									<input id="js-datalist_exhibition-{{ loop.index }}" type="text" name="exhibitions-{{ loop.index }}" list="exhibitions" data-value="{{ exhibition.id }}" value="{{ exhibition.name }}" class="js-datalist-child js-datalist_exhibition [ form-control-plaintext d-none ]" readonly>
									<!-- Call datalist macro function -->
									{{ datalist("exhibitions", exhibitions) }}
								</div>
								<div class="[ col-2 ]">
									<button class="js-delete-li butt butt--delete-icon [ d-none ]" type="button"><i class="far fa-times-circle"></i></button>
								</div>

							</li>

						{% else %}

							<li class="is-active"><i>There are no exhibitions connected with {{ org.name }}.</i></li>

						{% endfor %}

					</ul>

				</div>
			</div>
		</section>


		{% if current_user.is_authenticated %}
			<section id="section--submit">
				<div class="[ row justify-content-center d-none py-5 ]">
					<div class="[ col-md-8 text-right py-4 ]">
						<button id="js-cancel_org" class="butt butt--delete js-cancel-form" type="button">Cancel</button>
						<button id="js-post_org" class="butt butt--add js-update-form [ ml-2 ]" value="Create" type="button">Update</button>
					</div>
				</div>
			</section>
		{% endif %}

	</form>

</div>


<script id="js-template_exhibition" type="text/template">
	<li class="js-li_exhibition [ row mb-3 align-items-baseline ]">
		<div class="[ col-md-3 ]">
			<label for="exhibitions">Exhibition</label>
		</div>
		<div class="[ col-10 col-md-6 ]">
			<input id="js-datalist_exhibition" type="text" name="exhibitions" list="exhibitions" data-value="" value="" placeholder="Exhibition Name" class="js-datalist-child js-datalist_exhibition [ form-control ]">
			{{ datalist("exhibitions", exhibitions) }}
		</div>
		<div class="[ col-2 ]">
			<button class="js-delete-li butt butt--delete-icon" type="button"><i class="far fa-times-circle"></i></button>
		</div>
	</li>
</script>


<!-- Empty error template -->
<script id="js-template_error" type="text/template">
	<div class="[ alert alert-danger alert-dismissible fade show mb-0 ]" role="alert">
		<div class="js-error-body">
			<strong>Error!</strong> <span class="js-error-notice"></span>
		</div>
		<button type="button" class="[ close ]" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</script>


<!-- <script src="{{ url_for('static', filename='js/create-org.js') }}"></script> -->
<script src="{{ url_for('static', filename='js/dist/commons.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='js/dist/org.bundle.js') }}"></script>


{% endblock %}