{% extends "layout.html" %}
{% block head_extras %}
{% endblock %}
{% block title %}Parks Database – Delete {{ org.name|capitalize }}{% endblock %}
{% block content %}

<div class="container-fluid">

	<section id="section--head">
		{% include "include/nav.html" %}
		<div class="head [ row justify-content-center align-items-center ]">
			<div class="[ col-md-8 ]">
				<h1 class="[ text-center display-3 ]"><b>{{ org.name|upper }}</b></h1>
			</div>
		</div>
	</section>

	<form id="js-form_org" action="/orgs/{{ org.id }}/delete" method="POST">
		{{ form.csrf_token }}

		<div class="[ row justify-content-center py-5 ]">
			<p>Are you sure you want to delete <b>{{ org.name }}</b> from the database?</p>
		</div>

		<section id="section--submit">
			<div class="[ row justify-content-center ]">
				<div class="[ col-md-8 text-right p-4 ]">
					<a id="js-cancel_org" class="js-cancel-form butt butt--edit [ btn btn-sm ]" href="{{ url_for('org', org_id=org.id) }}" role="button">Cancel</a>
					<input id="js-delete_org" type="submit" class="butt butt--delete js-delete-form [ ml-2 btn btn-sm ]" value="Delete">
				</div>
			</div>
		</section>

	</form>

</div>

{% endblock %}