{% extends "layout.html" %}
{% block head_extras %}
{% endblock %}
{% block title %}NYC Parks Database – Organizations{% endblock %}
{% block content %}

<div class="container-fluid">

	<section id="section--head">
		{% include "include/nav.html" %}
		<div class="head head--orgs [ row justify-content-center align-items-center ]">
			<div class="[ col-md-8 ]">
				<h1 class="head__h1 head__h1--orgs [ text-center display-3 ]"><b>ORGANIZATIONS</b></h1>
			</div>
		</div>
	</section>

	<section id="section--search">
		{% include "include/user.html" %}

		<div class="[ row justify-content-center py-5 ]">
			<div class="[ col-sm-8 col-md-6 ]">
				<form id="js-form_search" action="/search" method="POST">
					{{ form.csrf_token }}

					<div class="[ d-none ]">
						{{ form.class_object(class="form-control", value="Org") }}
					</div>

					<div class="[ input-group ]">
						{{ form.search(class="form-control", placeholder="Search Organizations") }}
						<div class="[ input-group-append ]">
							<button class="js-search butt--right butt" type="submit" id="js-search_orgs">Search</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</section>



	{% macro show_orgs(org_list, exh_list, type) -%}
		{% for org in org_list %}
			<h3 class="indent [ py-1 ]">
				<a class="js-internal" href="{{ url_for('org', id=org.id) }}">{{ org.name }}</a>
				{% for exhibition in org.exhibitions if (exhibition in exh_list) %}
					{{ " (" if loop.first }}<a class="js-internal" href="{{ url_for('exhibition', id=exhibition.id) }}">{{ exhibition.name }}</a>{{ "/" if not loop.last else ")" }}
				{% else %}
					{% set exhibition_order = org.exhibitions|sort(attribute='start_date') %}
						(<a class="js-internal" href="{{ url_for('exhibition', id=exhibition_order[0].id) }}">{{ exhibition_order[0].name }}</a>)
				{%- endfor -%}
			</h3>

		{% else %}
			<p><i>There are no {{ type }} organizations.</i></p>
		{% endfor %}
	{%- endmacro %}



	<section id="section--active">
		<div class="chunk [ row justify-content-center py-5 ]">
			<div class="[ col-md-8 ]">

				<h2 class="[ display-4 py-4 ]">Active Organizations</h2>

				{{ show_orgs(active_orgs, active_exhibitions, "active") }}

			</div>
		</div>
	</section>



	<section id="section--upcoming">
		<div class="chunk [ row justify-content-center py-5 ]">
			<div class="[ col-md-8 ]">

				<h2 class="[ display-4 py-4 ]">Upcoming Organizations</h2>

				{{ show_orgs(upcoming_orgs, upcoming_exhibitions, "upcoming") }}

			</div>
		</div>
	</section>



	<section id="section--recent">
		<div class="chunk [ row justify-content-center py-5 ]">
			<div class="[ col-md-8 ]">

				<h2 class="[ display-4 py-4 ]">Recent Organizations</h2>

				{{ show_orgs(recent_orgs, recent_exhibitions, "recent") }}

			</div>
		</div>
	</section>



	<section id="section--orgs">
		<div class="chunk [ row justify-content-center py-5 ]">
			<div class="[ col-md-8 ]">

				<h2 class="[ display-4 py-4 ]">Organizations</h2>

				{% for org in orgs %}

					<h2 class="[ pt-3 ]"><a href="{{ url_for('org', id=org.id) }}">{{ org.name }}</a></h2>

				{% else %}

					<p><i>There are no organizations in the database yet.</i></p>

				{% endfor %}

			</div>
		</div>
	</section>

</div>

{% endblock %}