{% extends "layout.html" %}
{% block head_extras %}
<script src="{{ url_for('static', filename='js/dist/main.bundle.js') }}"></script>
{% endblock %}

{% block title %}NYC Parks Database – Parks{% endblock %}
{% block content %}


<div class="container-fluid">

	<section id="section--head">
		{% include "include/nav.html" %}
		<div class="head [ row justify-content-center align-items-center ]">
			<div class="[ col-md-8 ]">	
				<h1 class="head__h1 head__h1--parks [ text-center display-3 ]"><b>PARKS</b></h1>
			</div>
		</div>
	</section>

	<section id="section--search">
		{% include "include/user.html" %}

		<div class="[ row justify-content-center py-5 ]">
			<div class="[ col-md-8 ]">
				<form id="js-form_search" action="/search" method="POST">
					{{ form.csrf_token }}

					<div class="[ d-none ]">
						{{ form.class_object(class="form-control", value="Park") }}
					</div>

					<div class="[ input-group ]">
						{{ form.search(class="form-control", placeholder="Search") }}
						<div class="[ input-group-append ]">
							<button class="js-search butt--right butt" type="submit" id="js-search_parks">Search</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</section>


	<section id="section--active">
		<div class="chunk [ row justify-content-center py-5 ]">
			<div class="[ col-md-8 ]">

				<h2 class="[ display-4 py-4 ]">Active Parks</h2>

				<!-- Loop and get list of active exhibitions -->
				{% set active_exhibitions = [] %}
				{% for line in active_parks %}
					{% set active_exhibitions = active_exhibitions.append(line.Exhibition.id) %}
				{% endfor %}

				<!-- Create list of parks to prevent listing duplicates -->
				{% set park_list = [] %}

					{% for line in active_parks %}

						{% if line.Park.id not in park_list %}
							<h3 class="[ py-1 ]"><a href="{{ url_for('park', id=line.Park.id) }}">{{ line.Park.name }}</a> (

								<!-- Loop and get list of park exhibitions if exhibition is in the list of active exhibitions -->
								{% set park_exhibitions = [] %}
								{% for exhibition in line.Park.exhibitions %}
									{% if exhibition.id in active_exhibitions %}
										{% set park_exhibitions = park_exhibitions.append(exhibition) %}
									{% endif %}
								{% endfor %}

								<!-- Loop and display each active park exhibition -->
								{% for exhibition in park_exhibitions %}
									<a href="{{ url_for('exhibition', id=exhibition.id) }}">{{ exhibition.name }}</a>
									{{ "/" if not loop.last }}
								{% endfor %}

							)</h3>
							<!-- Add park to list of parks -->
							{% set park_list = park_list.append(line.Park.id) %}
						{% endif %}

					{% else %}
						<p><i>There are no active parks.</i></p>
					{% endfor %}

			</div>
		</div>
	</section>



	<section id="section--parks">
		<div class="chunk [ row justify-content-center py-5 ]">
			<div class="[ col-md-8 ]">

				<h2 class="[ display-4 py-4 ]">Parks</h2>

				{% for park in parks %}

					<h3 class="[ pt-3 ]"><a href="{{ url_for('park', id=park.id) }}">{{ park.name }}</a></h3>
					<ul class="[ list-unstyled p-0 ]">
						<li>Park ID: {{ park.park_id }}</li>
						<li>Address: {{ park.address }}</li>
						<li>Community Board: {{ park.cb }}</li>
					</ul>

				{% else %}

					<p><i>There are no parks in the database.</i></p>

				{% endfor %}

			</div>
		</div>
	</section>

</div>

{% endblock %}