{% extends "layout.html" %}
{% block head_extras %}
{% endblock %}

{% block title %}NYC Parks Database – Parks{% endblock %}
{% block content %}


<div class="container-fluid">

	<section id="section--head">
		{% include "include/nav.html" %}
		<div class="head head--parks [ row justify-content-center align-items-center ]">
			<div class="[ col-md-8 ]">	
				<h1 class="head__h1 head__h1--parks [ text-center display-3 ]"><b>PARKS</b></h1>
			</div>
		</div>
	</section>

	<section id="section--search">
		{% include "include/user.html" %}

		<div class="[ row justify-content-center py-5 ]">
			<div class="[ col-sm-8 col-md-6 ]">
				<form id="js-form_search" action="/search" method="POST">
					{{ form.csrf_token }}

					<div class="[ d-none ]">
						{{ form.class_object(class="form-control", value="Park") }}
					</div>

					<div class="[ input-group ]">
						{{ form.search(class="form-control", placeholder="Search Parks") }}
						<div class="[ input-group-append ]">
							<button class="js-search butt--right butt" type="submit" id="js-search_parks">Search</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</section>


	<section id="section--active">
		<div class="chunk [ row justify-content-center py-5 ]">
			<div class="[ col-md-8 ]">

				<h2 class="[ display-4 py-4 ]">Active Parks</h2>

				<!-- Loop and get list of active exhibitions -->
				{% set active_exhibitions = [] %}
				{% for line in active_parks %}
					{% set active_exhibitions = active_exhibitions.append(line.Exhibition.id) %}
				{% endfor %}

				<!-- Create list of parks to prevent listing duplicates -->
				{% set park_list = [] %}

					{% for line in active_parks %}

						{%- if line.Park.id not in park_list -%}
							<h3 class="indent [ py-1 ]"><a href="{{ url_for('park', id=line.Park.id) }}">{{ line.Park.name }}</a> (
								{%- set park_exhibitions = [] -%}
								{%- for exhibition in line.Park.exhibitions -%}
									{%- if exhibition.id in active_exhibitions -%}
										{%- set park_exhibitions = park_exhibitions.append(exhibition) -%}
									{%- endif -%}
								{%- endfor -%}
								{%- for exhibition in park_exhibitions -%}
									<a href="{{ url_for('exhibition', id=exhibition.id) }}">{{ exhibition.name }}</a>{{ "/" if not loop.last else ")" }}
								{%- endfor -%}
							</h3>
							{%- set park_list = park_list.append(line.Park.id) -%}
						{%- endif -%}

					{%- else -%}
						<p><i>There are no active parks.</i></p>
					{%- endfor -%}

			</div>
		</div>
	</section>



	<section id="section--upcoming">
		<div class="chunk [ row justify-content-center py-5 ]">
			<div class="[ col-md-8 ]">

				<h2 class="[ display-4 py-4 ]">Upcoming Parks</h2>

				<!-- Loop and get list of upcoming exhibitions -->
				{%- set upcoming_exhibitions = [] -%}
				{%- for line in upcoming_parks -%}
					{%- set active_exhibitions = upcoming_exhibitions.append(line.Exhibition.id) -%}
				{%- endfor -%}

				<!-- Create list of parks to prevent listing duplicates -->
				{% set park_list = [] %}

					{%- for line in upcoming_parks -%}

						{%- if line.Park.id not in park_list -%}
							<h3 class="indent [ py-1 ]"><a href="{{ url_for('park', id=line.Park.id) }}">{{ line.Park.name }}</a> (
								{%- set park_exhibitions = [] -%}
								{%- for exhibition in line.Park.exhibitions -%}
									{%- if exhibition.id in upcoming_exhibitions -%}
										{%- set park_exhibitions = park_exhibitions.append(exhibition) -%}
									{%- endif -%}
								{%- endfor -%}
								{%- for exhibition in park_exhibitions -%}
									<a href="{{ url_for('exhibition', id=exhibition.id) }}">{{ exhibition.name }}</a>{{ "/" if not loop.last else ")" }}
								{%- endfor -%}
							</h3>
							{%- set park_list = park_list.append(line.Park.id) -%}
						{%- endif -%}

					{%- else -%}
						<p><i>There are no parks with upcoming exhibitions.</i></p>
					{%- endfor -%}

			</div>
		</div>
	</section>



	<section id="section--recent">
		<div class="chunk [ row justify-content-center py-5 ]">
			<div class="[ col-md-8 ]">

				<h2 class="[ display-4 py-4 ]">Recent Parks</h2>

				<!-- Loop and get list of recent exhibitions -->
				{% set recent_exhibitions = [] %}
				{% for line in recent_parks %}
					{% set active_exhibitions = recent_exhibitions.append(line.Exhibition.id) %}
				{% endfor %}

				<!-- Create list of parks to prevent listing duplicates -->
				{% set park_list = [] %}

					{%- for line in recent_parks -%}

						{%- if line.Park.id not in park_list -%}
							<h3 class="indent [ py-1 ]"><a href="{{ url_for('park', id=line.Park.id) }}">{{ line.Park.name }}</a> (
								{%- set park_exhibitions = [] -%}
								{%- for exhibition in line.Park.exhibitions -%}
									{%- if exhibition.id in recent_exhibitions -%}
										{%- set park_exhibitions = park_exhibitions.append(exhibition) -%}
									{%- endif -%}
								{%- endfor -%}
								{%- for exhibition in park_exhibitions -%}
									<a href="{{ url_for('exhibition', id=exhibition.id) }}">{{ exhibition.name }}</a>{{ "/" if not loop.last else ")" }}
								{%- endfor -%}
							</h3>
							{%- set park_list = park_list.append(line.Park.id) -%}
						{%- endif -%}

					{%- else -%}
						<p><i>There are no parks with recent exhibitions.</i></p>
					{%- endfor -%}

			</div>
		</div>
	</section>



	<section id="section--parks">
		<div class="chunk [ row justify-content-center py-5 ]">
			<div class="[ col-md-8 ]">

				<h2 class="[ display-4 py-4 ]">Parks</h2>

				<div class="">
					{%- for park in parks -%}
						<h3 class="indent {{ 'js-index_' ~ park.name[0]|lower if park.name[0].isalpha() else 'js-index_#' }} [ pt-3 ]">
							<a href="{{ url_for('park', id=park.id) }}">{{ park.name }}</a>
							{%- for exhibition in park.exhibitions -%}
								{{ " (" if loop.first }}<a href="{{ url_for('exhibition', id=exhibition.id) }}">{{ exhibition.name }}</a>{{ " / " if not loop.last else ")" }}
							{%- endfor -%}
						</h3>
					{%- else -%}
						<p><i>There are no parks in the database.</i></p>
					{%- endfor -%}
				</div>

			</div>
		</div>
	</section>

</div>

{% endblock %}