{% extends "layout.html" %}
{% from "_macros.html" import nav %}
{% block title %}NYC Parks Database – {{ park.name|capitalize }}{% endblock %}
{% block content %}

	<div class="container-fluid">
		<section id="section--head">
			{% include "include/nav.html" %}
			<div class="head [ row justify-content-center align-items-center ]">
				<div class="col-sm-12 col-md-8">	
					<h1 class="text-center display-3"><b>{{ park.name|upper }}</b></h1>
				</div>
			</div>
		</section>
		<section id="section--bio">
			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-8">
					<h2 class="text-center display-4 p-4">Bio</h2>
					<ul>
						<li>ID: {{ park.id }}</li>
						<li>Park ID: {{ park.park_id }}</li>
						<li>Address: {{ park.address }}</li>
						<li>Community Board: {{ park.cb }}</li>
					</ul>
				</div>
			</div>
		</section>
		<section id="section--exhibitions">
			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-8">
					<h2 class="text-center display-4 p-4">Exhibitions</h2>
					<ul>
						{% if park.exhibitions %}
							{% for x in park.exhibitions %}
								<li>ID: {{ x.id }}</li>
								<li><a href="{{ url_for('exhibition', exhibition_id=x.id) }}">{{ x.name }}</a></li>
							{% endfor %}
						{% else %}
							<li><i>This park has no related exhibitions.</i></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</section>
		<section id="section--art">
			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-8">
					<h2 class="text-center display-4 p-4">Artworks</h2>
					<ul>
						{% if park_art %}
							{% for y in park_art %}
								<li><a href="{{ url_for('artwork', artwork_id=y.artw.id) }}">{{ y.artw.name }}</a> (<a href="{{ url_for('exhibition', exhibition_id=y.exhib.id) }}">{{ y.exhib.name }}</a>)</li>
							{% endfor %}
						{% else %}
							<li><i>This park has no related artworks.</i></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</section>
	</div>

{% endblock %}